* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body,
#app {
  height: 100%;

}

.el-cascader-panel {
  height: 300px;
}

.el-table__expanded-cell[class*=cell] {
  padding: 20px 50px;
}